.img1{
    display: block;
    width: 100%;
    height: auto;
    border: none;
    overflow:hidden;
}
.img2{
    display: block;
    width: 100%;
    height: auto;
    border: none;
    overflow:hidden;
}